.profile_info__wrapper {
    display: flex;
    flex-direction: row;
}
.profile__avatar {
    width: 300px;
    overflow: hidden;
    border-radius: 1rem;
}
.info_list {
    margin-left: 1rem;
    width: 100%;
}
.info__item h6{
    display: inline-block;
    width: 6rem;
}

.status {
}

.changeStatusButton {
    float: right;
}
.changeStatusButton:hover {
    color: #007bff;
}

.error {
    margin-top: 1rem;
}